@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: icomoon;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/icomoon.woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: Raleway;
    src: url('/introduce_company/static/src/font/Raleway.woff2');
    font-weight: 100;
    font-style: normal;
}



@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Raleway SemiBold;
    src: url('/introduce_company/static/src/font/RalewaySemiBold.woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Black.otf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-BlackItalic.otf');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Heavy.otf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-HeavyItalic.otf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Light.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-LightItalic.otf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-MediumItalic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-RegularItalic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-SemiboldItalic.otf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Thin.otf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-ThinItalic.otf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-Ultralight.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: SFProDisplay;
    src: url('/website_vezo/static/src/font/SF-Pro-Display-UltralightItalic.otf');
    font-weight: 100;
    font-style: italic;
}