@import '/introduce_company/static/src/css/font.css';
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-family: Raleway, icomoon, -apple-system, Raleway SemiBold, sans-serif;
}
.ls a,
.mob-menu li a,
#nz-content .search input[type="text"],
.mob-header-content .header-top-menu li a,
.mob-header-content .top-button,
.header-top .top-button,
.widget_title,
.yawp_wim_title,
textarea,
select,
button,
.button,
.button .txt,
input[type="month"],
input[type="number"],
input[type="submit"],
input[type="button"],
input[type="date"],
input[type="datetime"],
input[type="password"],
input[type="search"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="reset"],
.nz-timer,
.count-value,
.nz-persons .person .name,
.nz-pricing-table > .column .title,
.nz-pricing-table .price,
.tabset .tab,
.toggle-title .toggle-title-header,
.ninzio-navigation,
.woocommerce-pagination,
.ninzio-filter .filter,
.single-details .nz-i-list a,
.nz-table th,
.comment-meta .comment-author cite,
.wp-caption .wp-caption-text,
.woocommerce .product .added_to_cart,
.woocommerce-tabs .tabs > li,
.woocommerce .single-product-summary .amount,
.reset_variations,
.footer-menu > ul > li > a,
.share-labelf,
a.edit,
a.view,
.widget_icl_lang_sel_widget,
.nz-progress .progress-percent,
.nz-progress .progress-title,
.nz-content-box-2 .box-title span,
.footer-info,
.product .price,
.related-products-title h3,
.ninzio-nav-single > *,
.error404-big,
.box-more,
.count-title,
.nz-pricing-table .hlabel,
.widget_nz_recent_entries .post .post-date-custom,
.standard .post-date-custom,
.status-author,
.quote-author,
.link-link,
.single .post-social-share .social-links a span,
.woocommerce .product .onsale,
.widget_tag_cloud .tagcloud a,
.post-tags a,
.widget_product_tag_cloud .tagcloud a,
.projects-tags a,
.widget_recent_entries a,
.widget_categories ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_meta ul li a,
.widget_nav_menu li a,
.widget_product_categories li a,
.post .post-category ul li a,
.tagline-title,
.nz-accordion .toggle-title {
  font-family: Raleway !important;
}
.container {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin: 0 0 5px;
  font-weight: 600;
}
a {
  text-decoration: none;
  outline: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none !important;
}
.flex-control-paging li a.flex-active,
.flex-direction-nav a:hover,
.ninzio-navigation li a:hover,
.ninzio-navigation li .current,
.woocommerce-pagination li a:hover,
.woocommerce-pagination li span.current,
.widget_price_filter .ui-slider .ui-slider-range,
.nz-persons .person .title:after,
.post .post-date:after,
#nz-content .nz-single-image:before,
.widget_twitter .follow,
.nz-content-box-2 .box-title h3:after,
.nz-content-box-2 .box-title h3:before,
.nz-persons .person .title:after,
.nz-persons .person .title:before,
.header-top .header-top-menu ul .submenu-languages li a:after,
.mob-menu-toggle2:hover,
#top,
.widget_calendar td#today,
.desk-menu .sub-menu li > a:before,
.standard .post-date-custom,
.widget_title:after,
.yawp_wim_widget:after,
.widget_nav_menu li a:before,
.widget_product_categories li a:before,
.widget_categories ul li a:before,
.widget_pages ul li a:before,
.widget_archive ul li a:before,
.widget_meta ul li a:before,
.widget_shopping_cart .cart_list .remove:hover,
.footer-menu ul li a:after,
.post .post-category ul li a,
.single .single-post-content a:before,
.nz-reletated-posts-sep:after,
.post-comments-area .comments-title:after,
.post-comments-area #respond #reply-title:after,
.comment-meta .replay a:hover,
.post-single-navigation a:hover,
.single-projects .post-gallery .flex-direction-nav li a:hover,
.single .project-details a:after,
.nz-related-projects h3:after,
.social-links a:hover,
.box-more:hover:after,
.nz-persons .person .name:after,
.stepset .active .step-title,
.widget_nz_recent_entries .post-body:before,
.widget_twitter ul li:before,
.widget_recent_comments ul li:before,
.post .post-more:hover:after,
.nz-overlay-before:hover,
#nz-content .nz-single-image:hover:before,
.post .post-date-custom,
.ninzio-filter .filter.active,
.ninzio-filter .filter:hover,
.woocommerce .product .button:hover:before,
.woocommerce .product .added_to_cart:hover:before,
.woocommerce .product .product_type_external:hover:before {
  background-color: #17ff00 !important;
}
p,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
li ul,
li ol,
form,
table,
fieldset,
menu,
kbd,
samp {
  margin: 0 0 10px;
  padding: 0;
}
body,
input,
pre,
code,
kbd,
samp,
dt,
#lang_sel_footer ul li a {
  font-size: 14px;
  line-height: 28px;
  font-family: Raleway;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  display: block;
  outline: 0;
  margin: 0 0 15px;
  text-align: left;
  vertical-align: top;
  height: 50px;
  max-width: 100%;
  width: 100%;
  padding: 0px 20px;
  line-height: 50px;
  background-color: #eeeeee;
  border: none !important;
  color: #999;
  font-size: 14px;
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.ls a,
.mob-menu li a,
#nz-content .search input[type="text"],
.mob-header-content .header-top-menu li a,
.mob-header-content .top-button,
.header-top .top-button,
.widget_title,
.yawp_wim_title,
textarea,
select,
button,
.button,
.button .txt,
input[type="month"],
input[type="number"],
input[type="submit"],
input[type="button"],
input[type="date"],
input[type="datetime"],
input[type="password"],
input[type="search"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="reset"],
.nz-timer,
.count-value,
.nz-persons .person .name,
.nz-pricing-table > .column .title,
.nz-pricing-table .price,
.tabset .tab,
.toggle-title .toggle-title-header,
.ninzio-navigation,
.woocommerce-pagination,
.ninzio-filter .filter,
.single-details .nz-i-list a,
.nz-table th,
.comment-meta .comment-author cite,
.wp-caption .wp-caption-text,
.woocommerce .product .added_to_cart,
.woocommerce-tabs .tabs > li,
.woocommerce .single-product-summary .amount,
.reset_variations,
.footer-menu > ul > li > a,
.share-labelf,
a.edit,
a.view,
.widget_icl_lang_sel_widget,
.nz-progress .progress-percent,
.nz-progress .progress-title,
.nz-content-box-2 .box-title span,
.footer-info,
.product .price,
.related-products-title h3,
.ninzio-nav-single > *,
.error404-big,
.box-more,
.count-title,
.nz-pricing-table .hlabel,
.widget_nz_recent_entries .post .post-date-custom,
.standard .post-date-custom,
.status-author,
.quote-author,
.link-link,
.single .post-social-share .social-links a span,
.woocommerce .product .onsale,
.widget_tag_cloud .tagcloud a,
.post-tags a,
.widget_product_tag_cloud .tagcloud a,
.projects-tags a,
.widget_recent_entries a,
.widget_categories ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_meta ul li a,
.widget_nav_menu li a,
.widget_product_categories li a,
.post .post-category ul li a,
.tagline-title,
.nz-accordion .toggle-title {
  font-family: Raleway !important;
}
body,
button,
input,
pre,
code,
kbd,
samp,
dt,
textarea {
  color: #777;
}
button,
input {
  line-height: normal;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.single-details .project-link,
.wc-proceed-to-checkout a,
.woocommerce-message .button.wc-forward,
a.edit,
a.view,
#nz-content .nz-single-image:before,
.loop .project-more:hover,
.nz-recent-projects .project-more:hover,
.woocommerce .product .onsale,
.woocommerce .single-product-summary .product_meta a:after,
.woocommerce-tabs .panel > h2:after,
.woocommerce-tabs .panel > #reviews > #comments > h2:after,
.related-products-title h3:after,
.button-ghost.default.icon-true.animate-false .btn-icon:after,
.widget_nav_menu li a:before,
.widget_product_categories li a:before,
.widget_categories ul li a:before,
.widget_pages ul li a:before,
.widget_archive ul li a:before,
.widget_meta ul li a:before,
#comments #submit:hover,
.ajax-loading-wrap .load-bar:before,
.nz-pricing-table > .column.highlight-true .pricing,
.nz-accordion .toggle-title.active .toggle-icon:before,
.nz-accordion .toggle-title.active .toggle-icon:after,
.owl-controls .owl-page.active {
  background-color: #ffb700;
}
.button.square,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.wc-proceed-to-checkout a {
  border-radius: 0;
}
.button.medium,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.wc-proceed-to-checkout a,
.single_add_to_cart_button {
  padding: 14px 34px;
  font-size: 14px;
  line-height: 22px;
}
.button-normal,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.wc-proceed-to-checkout a {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.button,
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.wc-proceed-to-checkout a,
.single_add_to_cart_button {
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase !important;
  position: relative;
  display: inline-block;
  margin: 0 0px 5px 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  text-align: center;
  z-index: 1;
}
#mc-embedded-subscribe {
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  font-size: 13px;
  border-radius: 0px;
}
.mob-menu li a:hover,
.mob-menu .current-menu-item > a,
.mob-menu .current-menu-parent > a,
.mob-menu .current-menu-ancestor > a,
.mob-menu ul li > a:hover > .di,
.mob-menu .current-menu-item > a > .di,
.mob-menu .current-menu-parent > a > .di,
.mob-menu .current-menu-ancestor > a > .di,
.mob-header-content .header-top-menu li a:hover,
.mob-header-content .header-top-menu .current-menu-item > a,
.mob-header-content .header-top-menu .current-menu-parent > a,
.mob-header-content .header-top-menu .current-menu-ancestor > a,
.mob-header-content .header-top-menu ul li > a:hover > .di,
.mob-header-content .header-top-menu .current-menu-item > a > .di,
.mob-header-content .header-top-menu .current-menu-parent > a > .di,
.mob-header-content .header-top-menu .current-menu-ancestor > a > .di,
.search-r .post-title a,
.project-category a:hover,
.project-details a:hover,
.nz-related-portfolio .project-details a:hover,
.single-details .nz-i-list a:hover,
.blog-post .post .post-title:hover > a,
.nz-recent-posts .post .post-title:hover > a,
.blog-post .post .post-meta a:hover,
.nz-recent-posts .post .post-meta a:hover,
.blog-post .post .post-meta a:hover i,
.nz-recent-posts .post .post-meta a:hover i,
.woocommerce .product .price,
.single-post-content a:not(.button),
.nz-breadcrumbs a:hover,
.error404-big,
.nz-content-box-2 a:hover .box-title h3,
.nz-breadcrumbs > *:before,
.post-comments a:hover,
.footer-menu ul li a:hover,
.comment-content .edit-link a:hover,
.loop .project-title a:hover,
.loop .projects-category a:hover,
.nz-related-projects .projects-category a:hover,
.nz-recent-projects .projects-category a:hover,
.widget_product_categories ul li a:hover,
.widget_nav_menu ul li a:hover,
.widget_shopping_cart p.buttons > a:hover,
.widget_recent_entries a:hover,
.widget_categories ul li a:hover,
.widget_pages ul li a:hover,
.widget_archive ul li a:hover,
.widget_meta ul li a:hover,
.widget_nz_recent_entries .post-title:hover,
.widget_price_filter .price_slider_amount .button:hover,
.sidebar .widget_shopping_cart .cart_list > li > a:hover,
.sidebar .widget_products .product_list_widget > li > a:hover,
.sidebar .widget_recently_viewed_products .product_list_widget > li > a:hover,
.sidebar .widget_recent_reviews .product_list_widget > li > a:hover,
.sidebar .widget_top_rated_products .product_list_widget > li > a:hover,
.sidebar .widget_product_tag_cloud .tagcloud a:hover,
.sidebar .post-tags a:hover,
.sidebar .projects-tags a:hover,
.sidebar .widget_tag_cloud .tagcloud a:hover,
.sidebar .widget_recent_entries a:hover,
.sidebar .widget_nz_recent_entries .post-title:hover,
.sidebar .widget_product_categories ul li a:hover,
.sidebar .widget_nav_menu ul li a:hover,
.sidebar .widget_categories ul li a:hover,
.sidebar .widget_pages ul li a:hover,
.sidebar .widget_archive ul li a:hover,
.sidebar .widget_meta ul li a:hover,
.site-widget-area .widget_shopping_cart .cart_list > li > a:hover,
.site-widget-area .widget_products .product_list_widget > li > a:hover,
.site-widget-area .widget_recently_viewed_products .product_list_widget > li > a:hover,
.site-widget-area .widget_recent_reviews .product_list_widget > li > a:hover,
.site-widget-area .widget_top_rated_products .product_list_widget > li > a:hover,
.site-widget-area .widget_product_tag_cloud .tagcloud a:hover,
.site-widget-area .post-tags a:hover,
.site-widget-area .projects-tags a:hover,
.site-widget-area .widget_tag_cloud .tagcloud a:hover,
.footer-widget-area .widget_shopping_cart .cart_list > li > a:hover,
.footer-widget-area .widget_products .product_list_widget > li > a:hover,
.footer-widget-area .widget_recently_viewed_products .product_list_widget > li > a:hover,
.footer-widget-area .widget_recent_reviews .product_list_widget > li > a:hover,
.footer-widget-area .widget_top_rated_products .product_list_widget > li > a:hover,
.footer-widget-area .widget_product_tag_cloud .tagcloud a:hover,
.footer-widget-area .post-tags a:hover,
.footer-widget-area .projects-tags a:hover,
.footer-widget-area .widget_tag_cloud .tagcloud a:hover,
.mob-header .widget_shopping_cart p.buttons > a:hover,
.mob-header .widget_price_filter .price_slider_amount .button:hover,
.blog-post .post .postmeta a:hover,
.loop .small-image .projects .projects-category a:hover,
.loop .medium-image .projects .projects-category a:hover,
.loop .large-image .projects .projects-category a:hover,
.loop .small-image-nogap .projects .projects-category a:hover,
.loop .medium-image-nogap .projects .projects-category a:hover,
.nz-recent-projects.small-image .projects-category a:hover,
.nz-recent-projects.medium-image .projects-category a:hover,
.nz-recent-projects.large-image .projects-category a:hover,
.nz-recent-projects.small-image-nogap .projects-category a:hover,
.nz-recent-projects.medium-image-nogap .projects-category a:hover,
.nz-related-projects .projects-category a:hover,
.project-social-link-share .social-links a:hover,
.post-author-info .author-social-links a:hover,
.box-more:hover,
.nz-persons .person .name:hover,
.stepset .active .title,
.quote-author,
.status-author,
.link-link,
.post-social-share .social-links a:hover,
.nz-pricing-table .price,
.nz-pricing-table .currency,
.post .post-more:hover,
.woocommerce .product .button:hover,
.woocommerce .product .added_to_cart:hover,
.woocommerce .product .product_type_external:hover,
.single .post-social-share .social-links a:hover,
.desk .header-top .header-top-social-links a:hover,
.version3 .header-social-links a:hover {
  color: #17ff00 !important;
}
.icon-googleplus:before {
  content: "\e764";
}
#nz-content a:not(.button),
#nz-content a:not(.button):visited,
.sidebar a:not(.button):not(.ui-slider-handle),
.woo-cart .widget_shopping_cart .cart_list > li > a:hover,
.woocommerce .single-product-summary .product_meta a:hover,
.reset_variations:hover,
.count-icon,
.post-comments-area .comments-title,
.footer-copyright a,
.post-comments-area a,
.post-author-info-title a,
.post-tags a:hover,
.shop-loader,
.woocommerce .star-rating,
.woocommerce-page .woocommerce-product-rating .star-rating,
.woocommerce .comment-text .star-rating,
.widget_recent_reviews .star-rating,
.widget_top_rated_products .star-rating,
.woocommerce-tabs .comment-form-rating .stars a {
  color: #17ff00;
}
#nz-box-1 .box-icon {
  color: #ffb700;
}
#nz-box-1:hover .box-icon {
  color: #ffffff !important;
}
#nz-box-1 .box-icon-wrap:before {
  background-color: #ffb700;
}
.nz-section {
  background: no-repeat center center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.nz-content-box.version2 {
  text-align: center;
}
.nz-content-box > .nz-box {
  width: 100%;
  position: relative;
}
.nz-content-box .nz-box > .nz-box-wrap {
  padding: 5px 0px;
}
#nz-box-1 .box-icon-wrap {
  background-color: #fff;
}
.nz-content-box.version2 .back_active .box-icon-wrap,
.nz-content-box.version2 .bord_active .box-icon-wrap {
  min-height: 120px;
}
.nz-content-box.version2 .box-icon-wrap {
  position: relative;
  margin: 0 auto 30px auto;
}
.nz-content-box.version2 .box-icon-wrap .box-icon img {
  height: 100%;
}
.nz-section {
  background: no-repeat center center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.nz-video-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  background: repeat left top;
  width: 100%;
  height: 100%;
  display: none;
}
[class*=" icon-"],
[class^=icon-] {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nz-content-box .back_active .box-icon,
.nz-content-box .bord_active .box-icon {
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  position: relative;
}
.nz-content-box.version2 .back_active .box-icon,
.nz-content-box.version2 .bord_active .box-icon {
  font-size: 42px;
  line-height: 42px;
}
#nz-box-1 .box-icon {
  color: #ffb700;
}
.icon-settings3:before {
  content: "\e81d";
}
.nz-content-box.version2 .box-data {
  padding-left: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway;
  text-transform: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin: 0 0 5px;
  font-weight: 600;
}
.nz-content-box .box-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
}
.nz-content-box.version2 .box-title {
  padding-left: 0px !important;
  padding-bottom: 15px;
}
p,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
li ul,
li ol,
form,
table,
fieldset,
menu,
kbd,
samp {
  margin: 0 0 10px;
  padding: 0;
}
.box-more {
  display: inline-block;
  text-transform: none;
  margin-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #cccccc !important;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  position: relative;
}
.box-more:after {
  content: "";
  position: absolute;
  width: 100% !important;
  height: 2px;
  bottom: 0px;
  left: 50%;
  background-color: #eee;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#nz-box-1 .box-icon-wrap:before {
  background-color: #ffb700;
}
.col12,
.col11,
.col10,
.col9,
.col8,
.col7,
.col6,
.col5,
.col4,
.col3,
.col2,
.col1 {
  /* display: block; */
  position: relative;
  /* margin-bottom: 25px; */
  /* background-repeat: no-repeat; */
  min-height: 1px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.nz-content-box .back_active:hover .box-icon-wrap:before,
.nz-content-box .bord_active:hover .box-icon-wrap:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.nz-count {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}
.nz-count-wrap {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}
.count-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #999;
  display: block;
  text-transform: uppercase;
}
.count-value {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}
.count-border {
  width: 50%;
  height: 4px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: block;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-body {
  display: flow-root;
}
.project-tiles {
  margin: 0;
}
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem;
}
[class*="block-grid-"] > li {
  display: block;
  float: left;
  height: auto;
  padding: 0 0.625rem 1.25rem;
}
.project-tiles .project-tile {
  padding: 0 15px;
  overflow: hidden;
}
.project-tile-inner {
  position: relative;
  height: 0;
  padding-bottom: 63.636%;
}
.fsr-container {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-tile-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.project-tile-image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.project-tile-image img::after {
  background: #f2e416;
}
.fsr-hidden {
  display: none;
}
.fsr-image {
  position: absolute;
}
.project-tile-image:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f1d6ea;
  visibility: hidden;
  opacity: 0;
}
.project-tile-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -80px;
  z-index: 10;
  text-align: center;
}
.project-tile-overlay .button {
  font-size: 15px;
  border: 2px #7b7b7b;
  background: #ffffff;
  text-transform: uppercase;
  padding: 24px 15px;
  color: #7b7b7b;
}
.project-tile-overlay button.tiny,
.project-tile-overlay .button.tiny {
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}
.project-tile-overlay .button.tiny {
  border-width: 1px;
  padding-top: 13px;
}
.project-tile-overlay .project-tile-overlay .button.tiny {
  width: 160px;
  font-size: 13px;
  margin-bottom: 0;
}
.project-tile-image:after,
.project-tile-overlay {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}
.project-tile-overlay p {
  color: #7b7b7b;
  font-size: 13px;
  text-transform: uppercase;
}
a,
.current-menu-item a,
.footer-bar .footer-nav .current_page_item a {
  color: #117dbf;
}
.project-tile-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -80px;
  z-index: 10;
  text-align: center;
}
.project-tile-image:after,
.project-tile-overlay {
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.project-tile:hover .project-tile-overlay {
  bottom: 50%;
  margin-bottom: -20px;
}
.project-tile:hover .project-tile-overlay {
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
}
.project-tile:hover .project-tile-image:after {
  visibility: visible;
  opacity: 0.9;
}
.project-tile-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -62px;
  z-index: 10;
  text-align: center;
}
.project-tile-overlay h4 {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 6px;
}
.project-tile:hover .project-tile-overlay h4 {
  color: #222222;
}
button.tiny,
.button.tiny {
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;
}
.button.tiny {
  border-width: 1px;
  padding-top: 13px;
}
.project-tile-overlay .button.tiny {
  width: 160px;
  font-size: 13px;
  margin-bottom: 0;
}
.button:hover,
.button:focus {
  background: #34d904;
  border-color: transparent;
  outline: none;
}
.partner {
  padding-right: 9%;
  padding-left: 9%;
}
.partner {
  margin-bottom: 50px;
}
.partner-top {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.item-partner {
  border: 1px solid #ccc;
  height: 120px;
  display: inline-block;
  width: calc(20% - 10px) !important;
  margin: 5px 5px;
  text-align: center;
}
.item-partner {
  opacity: 1;
}
.item-partner {
  padding: 5px;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
.item-partner img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.item-partner:hover {
  opacity: 1;
  border: 3px solid #1cec67;
}
.solution-odoo {
  padding-top: 50px;
}
.solution-odoo .col-md-12 {
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.pull-right {
  float: right !important;
}
img {
  border-style: none;
}
img {
  vertical-align: middle;
}
.solution-odoo .col-md-6 img {
  width: 100%;
}
.solution-odoo .solution-odoo-img {
  width: 50%;
  padding: 0;
  height: 330px;
  display: flex;
  align-items: center;
}
.pull-left {
  float: left !important;
}
.solution-odoo-info {
  position: relative;
}
.solution-odoo-info .col-md-12 {
  padding-right: 12%;
  margin-bottom: 15px;
}
.solution-odoo-info .col-sm-12 {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 38px;
  padding-left: 0;
}
.solution-odoo-info .col-sm-12 p {
  margin: 0 0 10px;
}
.solution-odoo-info span {
  line-height: 24px;
  opacity: 0.8;
  font-size: 16px;
  margin-bottom: 52px;
  display: inline;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: Open Sans;
}
.solution-odoo-info p {
  text-align: center;
  margin: 15px;
}
.solution-odoo-info .more-view {
  border-radius: 45px;
  background-color: #e97520;
  padding: 17px 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  line-height: 48px;
}
#nz-counter-1 {
  display: flex;
}
.version4.fixed-true.active.effect-underline .desk-menu > ul > li > a:after {
  bottom: -15px;
}
.cen,
.solution,
.about-besco {
  margin-right: 9%;
  margin-left: 9%;
}
.box-logo {
  width: 80%;
  float: right;
  text-align: center;
  padding-top: 5px;
}
img {
  vertical-align: middle;
}
.logo img {
  width: 203px;
  height: auto;
  object-fit: contain;
}
.logo img {
  height: 50px;
  object-fit: contain;
}
.navbar-toggle-custom {
  position: absolute;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  background: transparent none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.box-menu {
  width: 1%;
  position: absolute;
  right: 9%;
  padding: 0;
}
.box-menu {
  float: left;
}
.nav-main {
  float: left;
  width: 100%;
}
.box-nav {
  display: inline-block;
  width: 100%;
  float: left;
  padding: 0px 0px;
  position: relative;
}
.menu_main {
  margin: 0px;
  padding: 29px 0px 0px 0px;
  list-style: none;
  float: right;
  position: fixed !important;
  min-height: 62px;
}
.menu_main {
  display: none;
  margin: 0px 0px 0px 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  background: #ffffff;
  width: 300px;
  border-right: 1px solid #dedede;
  z-index: 99999;
}
.menu_main {
  top: 78px;
  overflow-y: scroll;
  height: 255px;
}
.menu_main li {
  width: 100%;
  background: none;
  float: left;
  padding-bottom: 0;
}
.menu_main li:first-child {
  padding-left: 0px;
}
.menu_main li a {
  display: block;
  padding: 5px 3px 10px 3px;
  font-size: 15px;
  text-transform: uppercase;
  color: #666565;
  min-height: 32px;
  font-weight: 400;
}
.menu_main li a.active {
  text-decoration: none;
  color: #17ff00!important;
  background-size: 100%;
  border-bottom: 3px solid #17ff00;
}
.menu_main li a {
  padding-left: 0px;
  padding-right: 0px;
  min-height: 0px;
  text-align: center;
}
.menu_main li a:hover,
.menu_main li:hover a,
.menu_main li a.active {
  background-size: auto;
}
.menu_main li a:hover,
.menu_main li:hover a,
.menu_main li a.active {
  border-bottom: none;
}
.menu_main .advisory {
  width: 100%;
  background: #79c102;
  color: #fff;
  text-align: center;
}
.width_header {
  display: none;
  height: 44px;
  position: fixed;
  margin: 0;
  z-index: 100;
  width: 100%;
  background-color: #f2f726;
  opacity: 1;
}
.sub-small li a {
  color: #333333 !important;
  font-size: 12px;
  font-weight: normal;
}
.version4 .desk-menu .sub-menu {
  opacity: 1;
  padding-top: 35px;
}
.menu-item-object-child span.txt:hover {
  color: #fff;
}
.version4.active .desk-menu .sub-menu {
  padding-top: 20px;
  margin-top: -32px !important;
}
#menu-item-parent.active {
  background-color: #17ff00;
}
@media only screen and (max-width: 1200px) {
  .header {
    display: none !important;
  }
  .width_header {
    display: block;
  }
  .pTop {
    padding-top: 34px;
  }
}
@media only screen and (max-width: 991px) {
  .solution-odoo .solution-odoo-img img {
    width: 50%;
  }
  .solution-odoo .solution-odoo-img {
    float: left !important;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .solution-odoo-info .col-md-12 {
    padding: 0;
  }
  .solution-odoo-info .col-sm-12 p,
  .vc_custom_heading {
    font-size: 25px !important;
  }
  .nz-column-text p,
  .solution-odoo-info span,
  .solution-odoo-info .more-view {
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  .item-partner {
    width: calc(100% / 2 - 15px) !important;
  }
  #Experience {
    padding-top: 0!important;
  }
  #Experience video {
    display: none;
  }
}
@media only screen and (max-width: 568px) {
  #nz-counter-1 {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .vc_col-sm-12 {
    width: 100%;
  }
  .medium-block-grid-2 > li {
    list-style: none;
    width: 50%;
  }
  .nz-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .nz-content-box.version2 {
    margin-right: -30px;
    margin-left: -30px;
  }
  .nz-content-box[data-columns="3"] > .nz-box,
  .nz-counter[data-columns="3"] > .nz-count,
  .nz-persons[data-columns="3"] > .person,
  .nz-pricing-table[data-columns="3"] > .column {
    width: 33.3%;
  }
  .nz-content-box.version2 > .nz-box {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nz-content-box > .nz-box,
  .nz-timer > .days,
  .nz-counter > .nz-count,
  .nz-pricing-table > .column {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .nz-section-back-video,
  .nz-video-overlay {
    display: block;
  }
  .nz-section-back-video {
    position: absolute;
    top: -5px;
    right: 0px;
    min-width: 100%;
    width: 100%;
    height: auto;
    z-index: -1000;
    overflow: hidden;
    display: none;
  }
  .nz-row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .nz-content-box > .nz-box,
  .nz-timer > .days,
  .nz-counter > .nz-count,
  .nz-pricing-table > .column {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .count-border {
    width: 1px;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    right: -15px;
    left: auto;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
  }
}
@media (min-width: 992px) {
  .vc_col-md-8 {
    width: 66.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1100px) {
  .nz-related-products.column-4 *[data-grid="ninzio_01"],
  .nz-counter[data-columns="4"] > .nz-count {
    width: 25% !important;
  }
  .nz-counter[data-columns="4"] .nz-count .count-border {
    opacity: 1 !important;
  }
  .large-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }
  .large-block-grid-4 > li {
    list-style: none;
    width: 25%;
  }
  .solution-odoo-info span {
    -webkit-line-clamp: 8;
  }
}
header {
  display: none !important;
}
footer {
  display: none !important;
}
