.label-position{
  font-size: 20px;
  font-weight: bold;
}
.menu-position {
  display: flex;
  padding: 0;
  li {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
  }
  .active{
    background-color: red;
  }
  li:hover{
    background-color: #FFAB91;
  }
}