.label-position {
  font-size: 20px;
  font-weight: bold;
}

.choose-view {
  ul {
    display: flex;
    padding: 0;
    margin-top: 10px;
  }
  li {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
  }
  .active {
    background-color: red;
  }
  li:hover {
    background-color: red;
  }
}

.color-background {
  border: 2px solid #8a8a8a;
  margin: 0 5px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: red;
}

.color-item {
  display: flex;
  padding: 10px 15px;
}

.code-background {
  width: 100px;
  height: 22px;
  color: #333333;
}

.title-color {
  width: 130px;
  line-height: 22px;
  font-weight: bold;
}
.color-item input{
  width: 25%!important;
}