#form_contact{
  width: 300px;
  box-shadow: 0px -1px 2px 2px #dadada;
  background-color: red;
  padding-bottom: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  .contact-header{
    display: flex;
    height: 40px;
    align-items: center;
    box-shadow: 0 1px 1px #333333;
    cursor: s-resize;
  }
  .contact-header p{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0.5px 1px #333333;
    font-weight: bold;
  }
  .contact-body{
    padding: 15px;
  }
  .contact-body table tr td{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
  }
  .contact-body table input,.contact-body table textarea{
    width: 100%;
    color: #171717;
    height: 35px;
        padding-left: 10px;
    background-color: #ffffff;
  }
  .contact-footer{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  .contact-footer button{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px #333333;
    color: #171717;
    border-radius: 4px;
    background-color: #ffffff;
  }
}
#form_contact.collect{
  height: 30px;
  .contact-header{
    cursor: n-resize;
  }
}